node_modules/
.expo/
dist/
web-build/
ios/
android/
*.log
npm-debug.*
yarn-debug.*
yarn-error.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
.env
.env.local
.env.*.local
.DS_Store
play-store-key.json
google-services.json
GoogleService-Info.plist
.env
.env.local
